openapi: 3.1.0
info:
  title: RBB Hunter Remote Engine API
  description: Minimal Action schema for a ChatGPT-native scheduled Task driving one Hunter engine (chatgpt_deep_research
    or chatgpt_work). Backed by the same live server as getDailyBrief -- see system/api/server.py and
    system/research/HUNTER.md's "Multi-engine dispatch" section.
  version: 0.1.0
servers:
- url: https://rb-api.bridgepointops.org
  description: RB API tunnel
paths:
  /hunter/assignment:
    get:
      tags:
      - compute
      summary: Get Hunter Assignment
      description: Call first, every run. Returns {"status":"blocked","reason":...} (stop, no further
        calls) or {"status":"assigned","job_id":...,"assignment":{...}} with target(s), gaps, and payload_schema.
        Research per HUNTER.md, then call submitHunterPacket with the same job_id.
      operationId: getHunterAssignment
      parameters:
      - name: engine
        in: query
        required: true
        schema:
          enum:
          - chatgpt_deep_research
          - chatgpt_work
          type: string
          description: 'Which engine is asking: chatgpt_deep_research or chatgpt_work.'
          title: Engine
        description: 'Which engine is asking: chatgpt_deep_research or chatgpt_work.'
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Missing or invalid x-api-key
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /hunter/submit:
    post:
      tags:
      - write
      summary: Post Hunter Submit
      description: Call once, after finishing the research getHunterAssignment assigned. Submits the packet
        for validation against HUNTER.md's schema. Returns {"ok":true,"receipt":...} or {"ok":false,"errors":...};
        a rejection returns the job to the queue automatically.
      operationId: submitHunterPacket
      parameters:
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HunterSubmitIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Missing or invalid x-api-key
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HunterSubmitIn:
      properties:
        job_id:
          type: string
          title: Job Id
          description: The job_id returned by this run's getHunterAssignment call.
        engine:
          type: string
          enum:
          - chatgpt_deep_research
          - chatgpt_work
          title: Engine
          description: Must match the engine value this run's getHunterAssignment call used.
        packet:
          additionalProperties: true
          type: object
          title: Packet
          description: The complete Hunter research packet, or a bundle response for a two-subjob assignment,
            per HUNTER.md's packet schema.
      type: object
      required:
      - job_id
      - engine
      - packet
      title: HunterSubmitIn
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
