openapi: 3.1.0
info:
  title: Relationship Builder API
  description: "HTTP wrapper around the deterministic Relationship Builder compute scripts. Designed to be the Actions backend\
    \ for a Custom GPT. Read-only.\n\nCurated Custom GPT subset \u2014 generated by validate_openapi_gpt.py."
  version: 0.1.0
servers:
- url: https://rb-api.bridgepointops.org
  description: RB API tunnel
paths:
  /daily_brief:
    get:
      tags:
      - compute
      summary: Get Daily Brief
      description: "Mandatory source-of-truth retrieval for every Custom GPT Daily Brief.\n\nPrefer the published canonical\
        \ artifact on the cached path. This keeps the\naction response small and stable enough for ChatGPT while preserving\n\
        `use_cache=false` as the explicit rebuild path. Callers must require\n`status=ok`\u2026"
      operationId: getDailyBrief
      parameters:
      - name: date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ISO date 'YYYY-MM-DD' for the brief; defaults to today.
          title: Date
        description: ISO date 'YYYY-MM-DD' for the brief; defaults to today.
      - name: use_cache
        in: query
        required: false
        schema:
          type: boolean
          description: Use the cached report if fresh.
          default: true
          title: Use Cache
        description: Use the cached report if fresh.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Missing or invalid x-api-key
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /daily_brief/part2:
    get:
      tags:
      - compute
      summary: Get Daily Brief Part2
      description: "Part 2 of 2 of the Daily Brief \u2014 call AFTER getDailyBrief (Part 1).\n\nRB 9.69: a single getDailyBrief\
        \ response was approaching the ~70KB Action\npayload ceiling, which forced silent, size-based trimming of whichever\n\
        section happened to be largest. The brief is now split across two calls\nso each\u2026"
      operationId: getDailyBriefPart2
      parameters:
      - name: date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ISO date 'YYYY-MM-DD' for the brief; defaults to today. Use the SAME date as the matching getDailyBrief
            (Part 1) call.
          title: Date
        description: ISO date 'YYYY-MM-DD' for the brief; defaults to today. Use the SAME date as the matching getDailyBrief
          (Part 1) call.
      - name: use_cache
        in: query
        required: false
        schema:
          type: boolean
          description: Use the cached report if fresh.
          default: true
          title: Use Cache
        description: Use the cached report if fresh.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Missing or invalid x-api-key
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/bootstrap_status:
    get:
      tags:
      - diagnostic
      summary: Get Public Bootstrap Status
      description: "No-auth diagnostic endpoint. Returns API liveness and graph mount count only.\n\nUse this to isolate auth\
        \ failures from tunnel/API failures:\n- If this responds: the API and tunnel are alive.\n- If /daily_brief returns\
        \ 'invalid or missing x-api-key' but this works:\n  the Custom GPT Action auth is\u2026"
      operationId: getPublicBootstrapStatus
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /draft-actions:
    get:
      tags:
      - compute
      summary: Get Draft Actions
      description: Return DraftSpec objects from the action_drafts cache.
      operationId: getDraftActions
      parameters:
      - name: contact_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter DraftSpec rows by baseline contact id.
          title: Contact Id
        description: Filter DraftSpec rows by baseline contact id.
      - name: action_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter DraftSpec rows by action type.
          title: Action Type
        description: Filter DraftSpec rows by action type.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /loops:
    get:
      tags:
      - compute
      summary: Get Loops
      description: Loop ledger bucketed by status relative to a target date.
      operationId: getLoops
      parameters:
      - name: date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Date
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /captures/pending:
    get:
      tags:
      - compute
      summary: Get Captures Pending
      description: "List captures queued by the morning sweep awaiting GPT intelligence processing.\n\nReturns metadata for\
        \ each pending capture. Set include_transcript=true to\nget the full text in one call, or fetch individually via GET\
        \ /captures/{id}.\n\nOn-demand trigger phrase: \"RB, process my [person] meeting\"\u2026"
      operationId: getCapturesPending
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: Max captures to return.
          default: 20
          title: Limit
        description: Max captures to return.
      - name: include_transcript
        in: query
        required: false
        schema:
          type: boolean
          description: "Include full transcript text in response. Default false \u2014 fetch individually via /captures/{id}."
          default: false
          title: Include Transcript
        description: "Include full transcript text in response. Default false \u2014 fetch individually via /captures/{id}."
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /captures/{file_id}:
    get:
      tags:
      - compute
      summary: Get Capture
      description: 'Retrieve a single pending capture including full transcript text.


        Use this to fetch the transcript before submitting to /captures/{file_id}/submit.'
      operationId: getCapture
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /captures/{file_id}/submit:
    post:
      tags:
      - write
      summary: Post Capture Submit
      description: "Submit a pending capture through the intelligence triage pipeline.\n\nRoutes the transcript through /intelligence/triage\
        \ with source_type='transcript',\nwrites RI events and mutations, and marks the capture as processed.\n\nCalled by\
        \ the GPT after retrieving the transcript from GET\u2026"
      operationId: submitCapture
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /captures/process_all:
    post:
      tags:
      - write
      summary: Post Process All Captures
      description: "Submit all pending captures through the triage pipeline in sequence.\n\nCalled by the GPT at morning brief\
        \ time when pending captures are surfaced.\nReturns a summary of what was processed. See process_all_pending_captures()\n\
        for the actual logic -- also called directly (no HTTP)\u2026"
      operationId: processAllCaptures
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /cards/{contact_id}:
    get:
      tags:
      - docs
      summary: Get Card
      description: "Return a single card .md file for an RC contact, plus canonical\nbaseline state so clients can detect\
        \ projection drift.\n\nThe rendered card markdown is a projection of canonical state held in\nbaseline_index.json.\
        \ Historically the two could diverge silently after a\ntouch mutation\u2026"
      operationId: getCard
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
          title: Contact Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /contacts/resolve_linkedin:
    get:
      tags:
      - compute
      summary: Resolve Linkedin Profile
      description: "RB-DEFECT-034 \u2014 recognize a supplied LinkedIn profile URL and resolve it\nagainst the existing contact\
        \ graph, instead of falling through to a generic\n'please paste the profile content' deflection.\n\nThis is an *identity-resolution*\
        \ endpoint, not a live-fetch endpoint \u2014 RB\nhas no LinkedIn\u2026"
      operationId: resolveLinkedInProfile
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          description: A LinkedIn profile URL, e.g. https://www.linkedin.com/in/jane-doe-12345
          title: Url
        description: A LinkedIn profile URL, e.g. https://www.linkedin.com/in/jane-doe-12345
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /active_threads:
    get:
      tags:
      - docs
      summary: List Active Threads
      description: Return active strategic threads from active_threads.yaml.
      operationId: listActiveThreads
      parameters:
      - name: open_only
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Open Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /cockpit/context:
    get:
      tags:
      - compute
      summary: Get Cockpit Context
      description: "Live-generated cockpit projection \u2014 weekly outcomes, active opportunities,\nopen loops, active theses,\
        \ recent material intelligence, pending decisions,\nreconciliation queue. Same content/shape as system/cockpit/context.json\n\
        (RB-2026-08-19's cockpit_projection_contract), built on demand from\u2026"
      operationId: getCockpitContext
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /artifacts:
    get:
      tags:
      - compute
      summary: Get Artifact List
      description: "List registered entries in the micro-graph/account-dossier artifact\nregistry ONLY -- micro graphs (McDonald's,\
        \ stub entries for PAR, Toast,\nGlobal Payments, Foods Connected), account dossiers, and competitive\nintelligence\
        \ datasets.\n\nRB-2026-08-28: this registry is NOT a comprehensive inventory of\u2026"
      operationId: listArtifacts
      parameters:
      - name: artifact_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter by type: micro_graph, account_dossier, etc.'
          title: Artifact Type
        description: 'Filter by type: micro_graph, account_dossier, etc.'
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter by status: active, stub, building.'
          title: Status
        description: 'Filter by status: active, stub, building.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /artifacts/{artifact_id}:
    get:
      tags:
      - compute
      summary: Get Artifact Detail
      description: "Get details for a specific intelligence artifact.\n\nFor micro_graph artifacts, also returns compact topology\
        \ summary from the\ngraph index (same data as getMicroGraphSummary when applicable).\n\nartifact_id examples:\n  micro_graph:mcdonalds_us_ops\n\
        \  micro_graph:par_technology\n \u2026"
      operationId: getArtifact
      parameters:
      - name: artifact_id
        in: path
        required: true
        schema:
          type: string
          title: Artifact Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /ingest/executive_declaration:
    post:
      tags:
      - compute
      summary: Post Exec Declaration
      description: "Process a CEO first-person state declaration and auto-mutate canonical state.\n\nCEO declarations are\
        \ authoritative \u2014 highest-fidelity source in the priority hierarchy.\nNo confirmation required for unambiguous\
        \ declarations.\n\nSupported event types:\n- opportunity_accepted: \"I accepted the offer\"\n-\u2026"
      operationId: ingestExecutiveDeclaration
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecDeclIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /ingest:
    post:
      tags:
      - compute
      summary: Post Ingest
      description: "Consolidated content ingestion \u2014 full 5-phase intelligence pipeline on demand.\n\nThe mandatory first\
        \ call for ANY incoming content (paste, screenshot, article,\nnewsletter, post, transcript, note, earnings release).\
        \  Runs the same pipeline\nas the scheduled morning assessment but triggered by\u2026"
      operationId: ingestContent
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /sources/refresh:
    post:
      tags:
      - write
      summary: Post Sources Refresh
      description: "Refresh available local sources and optionally regenerate the daily brief.\n\nProduct-level alternative\
        \ to telling Todd to run shell commands.\n\nconfirm=false returns a plan only. confirm=true writes refreshed caches,\n\
        source-health state, relationship-signals cache, and optionally the\npublished\u2026"
      operationId: refreshSources
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceRefreshIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /loops/close:
    post:
      tags:
      - write
      summary: Post Loop Close
      description: "Close one open loop from getLoops -- call this once Todd confirms a\nfollowed-up-on item is done. RB-2026-08-28:\
        \ this route had no docstring\nat all (FastAPI fell back to the auto-generated \"Post Loop Close\"\nsummary), leaving\
        \ the model with zero guidance on the id format -- the\nsame\u2026"
      operationId: closeLoop
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoopCloseIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /touch:
    post:
      tags:
      - write
      summary: Post Touch
      description: "Update last_touch for an existing baseline entry and project the change\nonto the RC card frontmatter\
        \ when one exists. Returns the full mutation\nresult including both canonical and projection outcomes so the caller\
        \ can\ndistinguish \"baseline updated, no card\" from \"baseline updated and\u2026"
      operationId: touchContact
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TouchIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /threads/close:
    post:
      tags:
      - write
      summary: Post Thread Close
      description: "Close one active strategic thread from listActiveThreads -- call this\nonce Todd confirms the thread is\
        \ resolved. RB-2026-08-28: this route had\nno docstring at all (FastAPI fell back to the auto-generated \"Post\nThread\
        \ Close\" summary), leaving the model with zero guidance on the id\nformat -- the\u2026"
      operationId: closeThread
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadCloseIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /manual_relationship_intake:
    post:
      tags:
      - compute
      summary: Post Manual Relationship Intake
      description: "Classify pasted/screenshot relationship text into canonical RB outputs.\n\nThis is a review-first compute\
        \ endpoint: it returns structured signals,\ntrust/sponsor/advocacy metrics, DRR before/after projection, and proposed\n\
        write operations. It performs zero writes; callers must explicitly\u2026"
      operationId: manualRelationshipIntake
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualRelationshipIntakeIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /ingest/upload:
    post:
      tags:
      - ingest
      summary: Accept a file upload from the GPT and route it through the correct ingest pipeline
      description: "Receive a file from the Custom GPT conversation and ingest it.\n\nDEFECT-024: The user workflow is to\
        \ upload a file to the Custom GPT.\nThis endpoint is the bridge: the GPT reads the uploaded file content,\nencodes\
        \ it as base64, and POSTs it here. The server writes it to the\ncorrect inbox directory\u2026"
      operationId: uploadAndIngestFile
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUploadIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /relationship/intake:
    post:
      tags:
      - compute
      summary: Process Relationship Intake
      description: "Extract and classify relationship intelligence from an interaction thread.\n\nDEFECT-011 fix \u2014 wires\
        \ relationship_intake.py (RB 9.21) into the API.\n\nAccepts any raw interaction text (email, LinkedIn message, transcript,\n\
        recruiter note, meeting summary) and returns:\n  - interactions:       \u2026"
      operationId: processRelationshipIntake
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipIntakeBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /macro/signal:
    post:
      tags:
      - compute
      summary: Process Macro Signal
      description: "Classify macro behavioral intelligence signals from industry content.\n\nDEFECT-012 fix \u2014 wires macro_intelligence.py\
        \ (RB 9.22) into the API.\n\nAccepts LinkedIn posts, newsletter excerpts, earnings call transcripts,\nor any industry\
        \ observation text and returns:\n  - behavioral_signals:    classified\u2026"
      operationId: processMacroSignal
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacroSignalBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /opportunity/update:
    post:
      tags:
      - compute
      summary: Process Opportunity Update
      description: "Record a status update to the user's active opportunity pipeline.\n\nRB-DEFECT-037 fix \u2014 closes the\
        \ gap where job-search/career-pipeline status\nupdates (verbal offers, candidate ranking, interview timelines, deal\
        \ stage)\nhad nowhere to persist. relationship_intake captures generic contact\ntouches\u2026"
      operationId: processOpportunityUpdate
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityUpdateBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /opportunity/pipeline:
    get:
      tags:
      - compute
      summary: Get Opportunity Pipeline
      description: "Return the user's tracked active opportunity pipeline.\n\nRB-DEFECT-037 \u2014 query surface for tracked_opportunities.json.\
        \ Each\nopportunity includes company, role, stage, candidate_position, key_dates,\nstatus_narrative, and a full history\
        \ of recorded updates.\n\nCall this when:\n- Todd asks \"what's the\u2026"
      operationId: getOpportunityPipeline
      parameters:
      - name: active_only
        in: query
        required: false
        schema:
          type: boolean
          description: Exclude accepted/declined/rejected/closed opportunities.
          default: true
          title: Active Only
        description: Exclude accepted/declined/rejected/closed opportunities.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /confirm:
    post:
      tags:
      - ingest
      summary: Confirm Proposal
      description: "Confirm or reject any pending review-first proposal (RB-DEFECT-2026-07-06).\n\nSingle GPT-facing action\
        \ covering every \"proposed, awaiting operator\ndecision\" surface in RB \u2014 identity matches, relationship interactions,\n\
        strategic insights, macro behavioral records, macro entity risk\nprofiles, and\u2026"
      operationId: confirmProposal
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmProposalBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /query:
    post:
      tags:
      - compute
      summary: Unified Query
      description: "Single query across RB's original seven query modules \u2014 auto-dispatches\nto: micro (operator/store\
        \ graph), macro (behavioral signals), relationship\n(contacts, WMN), intelligence (research), ecosystem (tech stack/vendors),\n\
        artifact (account dossiers), campaign (conference invites)\u2026"
      operationId: queryEngine
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedQueryIn'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /contacts/linkedin_profile_bookmarklet:
    get:
      tags:
      - compute
      summary: Get Linkedin Profile Bookmarklet
      description: "Return a browser bookmarklet that captures a LinkedIn profile page and POSTs\nit directly to the RB server\
        \ \u2014 no terminal, no browser console, no JSON copy/paste.\n\nOne-time setup (30 seconds):\n  1. Call this endpoint\
        \ to get the bookmarklet.\n  2. Create a new browser bookmark, paste the returned\u2026"
      operationId: getLinkedInProfileBookmarklet
      parameters:
      - name: server_url
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: RB server base URL, e.g. http://localhost:8765. Defaults to the request's own origin.
          title: Server Url
        description: RB server base URL, e.g. http://localhost:8765. Defaults to the request's own origin.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ConfirmProposalBody:
      properties:
        kind:
          type: string
          enum:
          - identity_match
          - relationship
          - insight
          - macro_record
          - macro_entity
          - experience
          - weekly_plan
          - tech_stack_relationship
          - watchlist_promotion
          - priority_account_publisher_match
          - ownership_change
          - executive_move
          - job_posting
          title: Kind
          description: Which proposal type `id` refers to.
        id:
          type: string
          title: Id
          description: 'The SPECIFIC proposal/mutation''s own id, taken from within the tool response that proposed it (e.g.
            a mutation_proposals[] entry''s own id) -- NEVER a triage_id (format ''TRG-YYYY-MM-DD-NNN'', that''s intelligence_triage''s
            own tracking id for the input as a whole, not any one proposal inside it). Confirmed live 2026-08-27: 5/5 real
            calls failed, all reusing a triage_id here for kind=macro_record and kind=relationship, neither of which use that
            id space. Also: if the tool that generated the proposal reported nothing was persisted/proposed (e.g. persistence_status="RB
            did not persist"), there is nothing to confirm -- do not call this at all.'
        confirmed:
          type: boolean
          title: Confirmed
          description: True records/confirms the proposal; false rejects it.
          default: true
        write_email:
          type: boolean
          title: Write Email
          description: "identity_match only, when confirmed=true: whether to write the inbound sender address onto the baseline\
            \ record as their email. Set false when the identity link is real but the address itself isn't theirs \u2014 e.g.\
            \ invitations@linkedin.com or another platform/notification relay."
          default: true
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: 'identity_match only: optional note explaining why write_email was set false.'
        owner_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Owner Name
          description: 'ownership_change only, when confirmed=true: the real, confirmed owner/parent-company name. Required
            unless the candidate already has a proposed_owner_name (from best-effort text extraction) -- supplying this always
            overrides that prefilled value, e.g. to correct a wrong-direction extraction. Read the candidate''s evidence_excerpt
            yourself before trusting either one; never guess.'
        owner_entity_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Owner Entity Id
          description: 'ownership_change only: the owner''s real entity_id, when the owner is itself an already-tracked brand/vendor
            entity. Omit to let RB resolve it automatically from owner_name; only set this to override that resolution.'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: 'executive_move only, when confirmed=true: the real, confirmed executive name. Required unless the
            candidate already has a proposed_name (from best-effort text extraction) -- supplying this always overrides that
            prefilled value. Read the candidate''s evidence_excerpt yourself before trusting either one; never guess.'
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
          description: 'executive_move only: the executive''s real title/role, if known. Overrides the candidate''s own proposed_title
            when supplied; either may be omitted if genuinely unknown.'
        contact_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Contact Id
          description: 'executive_move only: the real baseline_index.json contact id to update, when the candidate''s action
            is "update_existing_contact". Overrides the candidate''s own matched_contact_id -- use this to correct a wrong
            name match, or to supply one the scanner didn''t find. Leave unset for a genuinely new contact (action "create_new_contact").'
      type: object
      required:
      - kind
      - id
      title: ConfirmProposalBody
    ExecDeclIn:
      properties:
        text:
          type: string
          title: Text
          description: CEO first-person declaration text.
        event_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Event At
          description: ISO date of the event (defaults to today).
        entity_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity Name
          description: Optional named entity the declaration concerns.
        opportunity_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Opportunity Id
          description: Optional opportunity ID to scope mutations.
      type: object
      required:
      - text
      title: ExecDeclIn
    FileUploadIn:
      properties:
        filename:
          type: string
          title: Filename
          description: 'Original filename including extension. Used to determine pipeline routing. Examples: ''Complete_LinkedInDataExport_06-05-2026.zip'',
            ''WhatsApp Chat with Sarah McAngus.txt'', ''contacts.vcf''.'
        content_base64:
          type: string
          title: Content Base64
          description: Original file bytes encoded as base64. May be empty when extracted_text is provided.
          default: ''
        extracted_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Extracted Text
          description: Text extracted from PDFs, Office files, images, links, or other artifacts.
        source_type:
          type: string
          title: Source Type
          description: file | screenshot | url | transcript | newsletter | article | note
          default: file
        source_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Url
        dry_run:
          type: boolean
          title: Dry Run
          description: If true, write the file to inbox but do not mutate baseline or ledgers. Returns a preview of what would
            be ingested.
          default: false
        campaign_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Campaign Id
          description: Required when the uploaded file is a conference/event registration list (dataset_type=conference_attendee_list)
            and more than one campaign exists. See GET /campaigns for known ids. Ignored for all other file types.
      type: object
      required:
      - filename
      title: FileUploadIn
      description: 'Universal RB artifact intake contract.


        The interface sends original bytes when available and may also send

        extracted text. RB owns persistence, classification, processing,

        mutation, freshness, and the final receipt.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    IngestIn:
      properties:
        text:
          type: string
          title: Text
          description: 'Content to triage: paste, screenshot, article, transcript, or note.'
        source_type:
          type: string
          title: Source Type
          description: paste | file | screenshot | url | transcript
          default: paste
        source_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Name
          description: Optional filename, URL, or source label.
        author_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Author Name
          description: Optional author/sender name.
        author_company:
          anyOf:
          - type: string
          - type: 'null'
          title: Author Company
          description: Optional author/sender company.
        event_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Event At
          description: Optional ISO date when the event occurred.
        captured_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Captured At
          description: Optional ISO capture date (defaults to now).
        entity_context_days:
          type: integer
          title: Entity Context Days
          description: Look-back window in days for entity intelligence context.
          default: 30
        auto_persist:
          type: boolean
          title: Auto Persist
          description: When true, non-noise triage streams are immediately written to IntelligenceDB without a separate confirmation
            step. Mutation proposals (watchlist adds, thread changes) are still returned as proposals and require explicit
            confirmation. Use for any user-provided content where intelligence should persist automatically. The response
            includes a 'persisted_intelligence' block showing every item written.
          default: false
      type: object
      required:
      - text
      title: IngestIn
    LoopCloseIn:
      properties:
        id:
          type: string
          title: Id
          description: A LOOP id from getLoops, e.g. 'L-2026-07-23-003' (format L-YYYY-MM-DD-NNN) -- or an 'EL-' prefixed
            variant from the same listing; both route automatically. NEVER a contact id (slugified names like 'jeff-coffland',
            belongs to touchContact) or a thread id (format 'T-YYYY-MM-<slug>', belongs to closeThread) -- touchContact and
            confirmProposal each had real incidents (18/18 and 5/5 failed calls) from exactly this kind of id mix-up.
        reason:
          type: string
          title: Reason
      type: object
      required:
      - id
      - reason
      title: LoopCloseIn
    MacroSignalBody:
      properties:
        text:
          type: string
          title: Text
          description: "Raw text to classify \u2014 LinkedIn post, newsletter excerpt, industry article, earnings call excerpt,\
            \ or any market observation text."
        source_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Type
          description: 'Source type: linkedin_post | newsletter | article | earnings_transcript | conference_session | social_post
            | industry_report'
          default: linkedin_post
        author_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Author Name
          description: "Author name if known \u2014 triggers RI mutation path for known contacts."
        author_org:
          anyOf:
          - type: string
          - type: 'null'
          title: Author Org
          description: Author's organization.
        author_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Author Role
          description: Author's role/title.
        signal_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Signal Date
          description: ISO date of the signal (defaults to today).
        ecosystem_tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Ecosystem Tags
          description: Explicit ecosystem tag overrides.
      type: object
      required:
      - text
      title: MacroSignalBody
    ManualRelationshipIntakeIn:
      properties:
        text:
          type: string
          title: Text
        contact_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Contact Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        event_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Event At
        captured_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Captured At
        organization:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization
        opportunity:
          anyOf:
          - type: string
          - type: 'null'
          title: Opportunity
        apply:
          type: boolean
          title: Apply
          default: false
      type: object
      required:
      - text
      title: ManualRelationshipIntakeIn
    OpportunityUpdateBody:
      properties:
        text:
          type: string
          title: Text
          description: "Free-form text describing a status update on a job, consulting, advisory, or business opportunity\
            \ the user is personally pursuing \u2014 e.g. 'I received a verbal offer from Acme', 'Acme confirmed I'm one of\
            \ the final two candidates, interviews June 23-24', 'I declined the offer from Acme'."
        company:
          anyOf:
          - type: string
          - type: 'null'
          title: Company
          description: "Company/organization name, if not reliably extractable from text. Strongly recommended \u2014 without\
            \ it, RB may not persist the update."
        role:
          anyOf:
          - type: string
          - type: 'null'
          title: Role
          description: Role/title under discussion, if known.
        stage:
          anyOf:
          - type: string
          - type: 'null'
          title: Stage
          description: 'Explicit pipeline stage override. One of: target_identified, applied, screening, interviewing, final_round,
            offer_verbal, offer_written, negotiating, accepted, declined, rejected, closed. If omitted, RB infers the stage
            from the text.'
        source_type:
          type: string
          title: Source Type
          description: 'Source type: conversation | email | linkedin_message | meeting_note'
          default: conversation
        apply:
          type: boolean
          title: Apply
          description: When false (default), returns a review-first proposal without writing. When true, persists immediately
            to tracked_opportunities.json. Confirm with the user before calling with apply=true unless the user has explicitly
            stated this update as fact (e.g. 'I just accepted the offer').
          default: false
      type: object
      required:
      - text
      title: OpportunityUpdateBody
    RelationshipIntakeBody:
      properties:
        text:
          type: string
          title: Text
          description: "Raw interaction text \u2014 email thread, LinkedIn message, meeting transcript, recruiter note, or\
            \ any free-form conversation involving a named person or company."
        entity_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity Name
          description: Name of the person or company in the interaction. Auto-extracted if omitted.
        entity_org:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity Org
          description: Organization of the entity. Auto-extracted if omitted.
        entity_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity Role
          description: Role/title of the entity. Auto-extracted if omitted.
        interaction_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Interaction Date
          description: ISO date of the interaction event (event_at). Defaults to today.
        source_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Type
          description: 'Source type: email | linkedin_message | linkedin_post | transcript | sms | call_note | meeting_note
            | recruiter_email'
          default: email
        ecosystem_tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Ecosystem Tags
          description: Explicit ecosystem tag overrides (e.g. ['restaurant_tech', 'pos']).
        apply:
          type: boolean
          title: Apply
          description: When false (default), returns proposals without writing. When true, auto-confirms the interaction immediately
            IF the entity resolved to an existing baseline contact (exact or high-confidence fuzzy name match) -- check the
            response's auto_confirmed field to see whether that happened. A brand-new, never-seen entity is always left pending
            regardless of apply; call confirmRelationshipInteraction on it after review.
          default: false
      type: object
      required:
      - text
      title: RelationshipIntakeBody
    SourceRefreshIn:
      properties:
        confirm:
          type: boolean
          title: Confirm
          default: false
        date:
          anyOf:
          - type: string
          - type: 'null'
          title: Date
        sources:
          items:
            type: string
          type: array
          title: Sources
          default:
          - email
          - calendar
        publish_brief:
          type: boolean
          title: Publish Brief
          default: true
        full_pipeline:
          type: boolean
          title: Full Pipeline
          default: true
      type: object
      title: SourceRefreshIn
      description: 'Body for POST /sources/refresh.


        Product-level wrapper for the local refresh pipeline. This is intentionally

        narrow and governed: confirm=false returns the exact plan, confirm=true

        refreshes only the requested source families, rebuilds source health and

        relationship-signal cache, and can republish the daily brief.'
    ThreadCloseIn:
      properties:
        id:
          type: string
          title: Id
          description: A THREAD id from listActiveThreads, e.g. 'T-2026-05-bridgepoint-ops-engagement' (format T-YYYY-MM-<slug>).
            NEVER a loop id (format 'L-YYYY-MM-DD-NNN', belongs to closeLoop) or a contact id (belongs to touchContact) --
            touchContact and confirmProposal each had real incidents (18/18 and 5/5 failed calls) from exactly this kind of
            id mix-up.
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
      type: object
      required:
      - id
      title: ThreadCloseIn
    TouchIn:
      properties:
        id:
          type: string
          title: Id
          description: 'A CONTACT id from baseline_index.json, e.g. ''jeff-coffland'' (a slugified name) -- NEVER a loop id
            (those look like ''L-2026-08-24-004'' and belong to closeLoop, not this). Confirmed live 2026-08-27: 18/18 real
            touchContact calls failed because a loop id was passed here by mistake. Resolve the correct contact id via getCard
            first if unsure.'
        date:
          anyOf:
          - type: string
          - type: 'null'
          title: Date
        source:
          anyOf:
          - type: string
          - type: 'null'
          title: Source
      type: object
      required:
      - id
      title: TouchIn
    UnifiedQueryIn:
      properties:
        entity:
          anyOf:
          - type: string
          - type: 'null'
          title: Entity
          description: "Entity name to query about \u2014 a company (e.g. 'PAR Technology', 'McDonald\\'s') or person. Optional:\
            \ omit for general questions like 'who matters most right now?'"
        question:
          type: string
          title: Question
          description: "Natural language question. The engine parses intent and dispatches to whichever of the seven modules\
            \ are relevant: micro graph (operator/store structure), macro (behavioral signals, brand risk), relationship (interactions,\
            \ Who Matters Now), intelligence (gathered research, signal convergences), ecosystem (restaurant/vendor tech-stack\
            \ relationships, incumbent POS/payments/loyalty), artifact (registered account dossiers \u2014 Global Payments,\
            \ Foods Connected, PAR Technology, etc.), and campaign (conference invitation roster, registration status, coverage\
            \ gaps). Examples: 'How many McDonald\\'s operators are in the US?', 'What is PAR Technology\\'s exit positioning?',\
            \ 'Who should I reach out to at Toast?', 'What behavioral signals have we captured about consumer hesitation?',\
            \ 'What POS does Chipotle run?', 'What's the status of the Global Payments opportunity?', 'Who hasn't registered\
            \ for the Genius conference yet?'"
        modules:
          anyOf:
          - type: string
          - type: 'null'
          title: Modules
          description: "Comma-separated module override. Normally omit \u2014 the engine routes automatically. Valid values:\
            \ micro, macro, relationship, intelligence, ecosystem, artifact, campaign, signals. Example: 'micro,intelligence'\
            \ to force only those two modules."
      type: object
      required:
      - question
      title: UnifiedQueryIn
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
- ApiKeyAuth: []
